 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="about-desc">
											<!-- 안녕하세요, 6년동안 편집디자이너로 일하다가 새로운 꿈을 갖고 웹퍼블리셔로 직업을 전향하였습니다. <br>
											늦게 시작한 만큼 평생 직종으로 생각하며 끝없이 배우고 노력하는 중입니다. 코딩은 어렵지만 재밌습니다. <br>
											재밌게 함께 일하며 기업과 성장하고 싶습니다. 저는 어디서든 적응을 잘 하며, 한번 시작하면 끝을 내는 성격이기에 <br>
											어떤 프로젝트라도 완성도 있는 결과물을 산출합니다. 저에게 주어진 일을 잘 해내고 싶고 잘 할 자신 있습니다! -->
											Hello, After working as an editorial designer for 6 years, I changed my job to a web publisher with a new dream. 
											As I started late, I think of it as a career for the rest of my life, and I am constantly learning and working hard. 
											Coding is difficult but fun. I want to have fun working together and grow with the company.
											I am good at adapting anywhere, and since I am the type to finish once I start, any project produces a complete result. 
											I want to do my job well and I am confident that I will do well!
										</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/flowerkong3/profile" class="btn btn-lg btn-outline">
											<!-- <i class="fa fa-solid fa-icons"></i>  -->
											🤭 Click to My Website
                    </a>
                </div>
            </div>
        </div>
    </section>
